<?xml version="1.0" ?>
<web-app>
	<display-name>Servlet Sample</display-name>
	<description>Sample App</description>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Dashboard</servlet-name>
		<servlet-class>DashboardServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Dashboard</servlet-name>
		<url-pattern>/dashboard</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddUser</servlet-name>
		<servlet-class>src.AddUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddUser</servlet-name>
		<url-pattern>/adduser</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteUser</servlet-name>
		<servlet-class>src.DeleteUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteUser</servlet-name>
		<url-pattern>/deleteuser</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AccountList</servlet-name>
		<servlet-class>src.AccountListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccountList</servlet-name>
		<url-pattern>/accountlist</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>InventoryList</servlet-name>
		<servlet-class>src.InventoryListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InventoryList</servlet-name>
		<url-pattern>/inventorylist</url-pattern>
	</servlet-mapping>
</web-app>
